@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(img/banner4.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    background-attachment: fixed;
    object-fit: cover;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 5rem 0px 4rem;
    align-items: center;
    transition: 0.6s;
}
header.sticky{
    padding: 1rem 5rem 1rem 4rem;
    background-color: white;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}
header.sticky ul li a{
    color: black;
}
.line, .service-line{
    position: relative;
 }

 .service-line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
    width: 100%;
    right: 0;
}

.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s;
}

.boton button:hover{
    font-weight: 600;
}

.logo-img img{
    padding: 0 0 0 4rem;
    width: 80%;
    transition: 0.6s;
}

/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

/* slider */

.slider{
    width: 100%;
    max-width: 100vw;
    height: 60vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 2000px;
    max-width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.title-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background: #092a4663;
}

.icon-banner{
    width: 100%;
    height: 80%;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: end;
    top: 0;
    right: 0;
}

.title-banner p{
    font-size: 30px;
    color: #ffff;
    text-transform: capitalize;
}

.inf-banner p{
    font-size: 10px;
    color: #ffff;
    text-transform: capitalize;
    width: 30%;
}

.icon-banner i{
    font-size: 50px;
    color: white;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

/* Conctacto */

.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    background-image: url(img/contacto-fondo.png);
    background-size: 100% 150%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 6rem 0;
    scroll-margin-top: 2ex;
}

.form{
    width: 33%;
    border-radius: 25px;
    padding: 55px 30px;
    background-color: white;
}

.inf-contacto{
    width: 45%;
}

.container-contacto{
    text-align: left;
    padding-top: 60px;
}
.container-contacto p{
    color: white;
    padding-bottom: 20px;
}
.container-contacto p:nth-child(1){
    font-size: 45px;
    font-weight: 500;
    width: 80%;
}
.container-contacto p:nth-child(2){
    font-size: 16px;
    width: 60%;
    padding-bottom: 50px;
}
.container-contacto p:nth-child(3),
.container-contacto p:nth-child(4){
    font-size: 30px;
}


/* form */

.contacto h1{
    color: black;
    font-weight: 500;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 22px;
}

.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto .name, textarea{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;

}

.name input{
    border-radius: 22px;
    border: none;
    background-color: #e1e1e1;
    width: 95%;
    padding: 0.8rem;
}

::placeholder{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.contacto .input-large{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 30px;

}
.input-large input{
    border-radius: 22px;
    border: none;
    background-color: #e1e1e1;
    width: 85%;
    height: 55px;
    padding: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto textarea{
    height: 150px;
    border: none;
    border-radius: 22px;
    background-color: #e1e1e1;
    width: 98%;
    padding: 0.8rem;
}

.input-large {
    margin-bottom: 10px;
}
.paraph-contact{
    color: black;
    text-align: center;
    margin-bottom: 22px;
    font-size: 16px;
}
.contacto input:focus, .form-contacto textarea:focus{
	border: 2px solid black;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.btn-form{
	height: 55px;
	width: 85%;
	background: black;
	color: #fff;
	border: none;
    border-radius: 1000px;
	cursor: pointer;
	transition: .1s ease all;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}


/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: 60px;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}


/* footer */

footer{
    padding: 0 1rem;
    background-color: #F0F0F0;
    padding: 2rem 5rem;
}

.footer-up{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1rem 0
}

.logo-footer img{
    width: 200px;
    height: 80px;
    transition-delay: 200ms;
}
.footer-down {
    width: 40%;
}
.footer-down p{
    color: black;
}

.list-footer, .logo-footer{
    width: 40%;
}
.list-footer{
    justify-content: end;
}
.list-footer ul{
    display: flex;
    margin: 1rem 0;
    transition-delay: 400ms;
}
.list-footer ul li{
    margin-right: 8px;
    transition: 0.8s;
}
.list-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
}
.list-footer ul li i{
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
    cursor: pointer;
    color: black;
    transition: 0.8s;
}


@media screen and (min-width: 1000px) and (max-width: 1300px){

    .slider {
        height: 30vh;
    }


    /* contacto */
    .contacto{
        gap: 2rem;
    }

    .contact-img video {
        width: 230px;
        height: 420px;
    }
    .contact-img img {
        width: 230px;
        height: 460px;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 30px;
    }
    .container-contacto p:nth-child(1){
        width: 85%;
    }

    .form{
        width: 45%;
    }


    /* footer */
    
    .footer-down {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 715px) and (max-width: 1000px){
    .slider {
        height: 30vh;
    }
    /* Contacto */

    .contacto{
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 6rem;
    }
    .form, .contact-img{
        width: 70%;
        padding: 90px 30px;
    }

    .input-large input, .btn-form{
        width: 100%;
    }
    .inf-contacto {
        width: 85%;
    }
    .container-contacto p:nth-child(2){
        width: 90%;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 20px;
    }
    /* footer */

    .list-footer {
        width: 70%;
        }

    .footer-down {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
    }
}


@media(max-width:715px){
    /* header */

    .banner-top, .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
    }
    header.sticky {
        padding: 1rem 2rem;
    }
    .logo-img img{
        padding: 0;
    }
    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    .lista-header ul li a{
        color: black;
    }

    /* banner */

    .slider{
        height: 40vh;
    }
    .title-banner{
        right: 8%;
        width: 80%;
    }
    .slider .list{
        text-align: center;
    }
    .inf-project{
        flex-direction: column;
        gap: 20px;
        padding: 4rem 0 0 0;
    }
    .inf-project-left, .picture{
        width: 100%;
    }
    .contain-concept{
        margin: 4em 0;
        width: 80%;
    }
    .concept-project{
        margin: 20px 0;
    }
    .file2{
        flex-direction: column;
        padding: 0;
    }
    .file2 img, .file3 img{
        width: 100%;
        height: 28vh;
        padding: 10px 0;
    }
    .contain-concept p{
        font-size: 18px;
    }
    
    /* Contacto */

    .contacto{
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 6rem;
    }
    .form, .contact-img{
        width: 93%;
    }

    .input-large input, .btn-form{
        width: 100%;
    }
    .inf-contacto {
        width: 85%;
    }
    .container-contacto p:nth-child(2){
        width: 90%;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 20px;
    }


     /* footer */

     footer{
        padding: 0;
    }
    
    .footer-up{
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
    }
    .footer-down{
        padding: 2rem 0;
        margin: 0 1rem;
    }
    .footer-down p{
        text-align: center;
    }

    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .list-footer, .logo-footer{
        width: 100%;
    }
    .list-footer {
        justify-content: center;
    }
    .footer-down {
        width: 100%;
        padding: 2rem 0;
        margin: 0;
    }

    /* wsp */

    .whatsapp-container img{
        width: 55px;
    }
    .whatsapp-container i {
        font-size: 35px
    }
    .whatsapp-container{
        max-width: 35px;
    }
}


/* Para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}