@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

a{
    color: white;
}

.flex{
    display: flex;
}


/* Header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 5rem 0 4rem;
    align-items: center;
    transition: 0.6s;
}

header.sticky{
    padding: 0.6rem 5rem 0.6rem 4rem;
    background-color: white;
}

.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

header.sticky ul li a{
    color: black;
}

.line{
    position: relative;
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}


/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

.logo-img img{
    padding: 0 0 0 4rem;
    width: 80%;
    transition: 0.6s;
}


/* slider */

.slider{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 2000px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.slider .dots li.active{
    width: 30px;
}

.inf-banner{
    position: absolute;
    top: 75%;
    margin: 0 12rem;
}

.inf-banner p{
    font-size: 50px;
    color: #ffff;
    text-transform: uppercase;
}

.inf-banner p{
    opacity: 0;
    filter: blur(20px);
    transform: translateY(50px);
    animation: showContent 0.5s 1s linear 1 forwards;
    animation-delay: 200ms;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}


/* Nosotros */

.nosotros{
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    scroll-margin-top: 10ex;
}

.nosotros .title-nosotros h1, .service .title-service h1, .clientes-logos h1{
    text-align: center;
    font-weight: 500;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
}

.nosotros .title-nosotros h1, .service .title-service, .clientes-logos h1{
    margin: 5rem 0;
}

.inf-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0 0 6rem 0;
}

.img-nosotros{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.img-nosotros img{
    width: 80%;
    height: 470px;
    object-fit: cover;
}

.paraph-nosotros{
    width: 40%;
}
.paraph-nosotros p{
    margin: 10px 0;
}
.paraph-nosotros p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
    transition-delay: 200ms;
}
.paraph-nosotros p:nth-child(2){
    font-size: 32px;
    width: 80%;
    font-weight: 600;
    text-transform: uppercase;
    transition-delay: 400ms;

}
.paraph-nosotros p:nth-child(3){
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    transition-delay: 600ms;
}


/* servicios */

.service{
    scroll-margin-top: 6ex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0 0 3rem 0;
}
.servicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.title-service p{
    text-align: center;
    color: black;
    font-size: 16px;
    padding: 30px 0 0 0;
    width: 60%;
    margin: auto;

}

.service-card{
    width: calc(32% - 1rem);
    height: 400px;
    display: block;
    position: relative;
    overflow: hidden;
}
.service-prue{
    width: 100%;
    height: 100%;
}
.service-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card .service-overlay{
    background-color: black;
    backdrop-filter: blur(15px);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-inf-ser{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: calc(-50%);
    padding: 45px 50px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 50%);
    transition: all .6s ease-in-out;
    height: 100%;
    background: #343e4652;
}

.service-card:hover .card-inf-ser{
    opacity: 1;
}

.service-card:hover .service-overlay{
    opacity: 1;
}

.card-inf-ser button, .card-inf-ser p{
    margin: 8px 0;
}

.card-inf-ser h4{
    color: white;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    height: 50px;
}

.card-inf-ser p{
    color: white;
    line-height: 23px;
    height: 140px;
    font-size: 15px;
    width: 85%;
}

.card-inf-ser button{
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card-inf-ser i{
    font-size: 23px;
}


/* Proyectos */
.projects{
    height: auto;
    background-color: white;
    padding: 6rem 0 0 0;
}


.projects .title-projects h1{
    font-weight: 500;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.list-projects{
    margin: 3rem 0 3rem 0;
}
.list-projects ul{
    display: flex;
    gap: 3px;
}
.list-projects ul li{
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s;
    margin-right: 10px;
    padding: 16px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}


/* Galeria */

.list-projects .filter-item.active{
    background-color: #e5e5e5;
}

.galeria-card.hide{
    display: none;
}

.galeria-card.show{
    animation: fadeIn .5s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria-img{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.galeria-card{
    width: 30%;
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden;
}
.galeria-prue{
    width: 100%;
    height: 100%;
}
.galeria-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;}

.galeria-card:hover img{
    transform: scale(1.5);
}

.galeria-card .overlay{
    background-color: #ffffffbd;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 4%;
    right: 0;
    left: 4%;
    bottom: 0;
    width: 92%;
    height: 92%;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-inf{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .6s ease-in-out;
}

.galeria-card:hover .card-inf{
    opacity: 1;
    /* pointer-events: unset; */
}
.card-inf a i{
    transition: 0.8s;
}
.card-inf a i:hover{
    color: black;
}
.galeria-card:hover .overlay{
    opacity: 1;
}

.card-inf button, .card-inf p, .card-inf .bx-plus{
    margin: 8px 0;
}

.card-inf button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.card-inf p{
    text-transform: uppercase;
    color: black;
}
.card-inf .bx-plus{
    color: #808080;
    font-size: 25px;
    cursor: pointer;
}

.card-inf li{
    cursor: pointer;
}


/* Clientes */

.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.scroll img{
    width: 150px;
    height: 100px;
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
}

.scroll img:not(:hover){
    filter: grayscale(100%);
}

.scroll{
    position: relative;
    display: flex;
    width: 1200px;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll .este{
    white-space: nowrap;
    animation: animate 30s linear infinite;
}

.clientes-logos{
    padding: 2rem 0;
}

@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

.scroll:hover .este{
    animation-play-state: paused;
}

.title-clientes{
    text-align: center;
    color: var(--primary-color);
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 41px;
    font-weight: 200;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}


/* Conctacto */

.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 6em;
    background-image: url(img/contacto-fondo.png);
    background-size: 100% 150%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 6rem 0;
    scroll-margin-top: 2ex;
}

.form{
    width: 33%;
    border-radius: 25px;
    padding: 55px 30px;
    background-color: white;
}

.inf-contacto{
    width: 45%;
}

.container-contacto{
    text-align: left;
    padding-top: 60px;
}
.container-contacto p{
    color: white;
    padding-bottom: 20px;
}
.container-contacto p:nth-child(1){
    font-size: 45px;
    font-weight: 500;
    width: 80%;
}
.container-contacto p:nth-child(2){
    font-size: 16px;
    width: 60%;
    padding-bottom: 50px;
}
.container-contacto p:nth-child(3),
.container-contacto p:nth-child(4){
    font-size: 30px;
}


/* form */

.contacto h1{
    color: black;
    font-weight: 500;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 22px;
}

.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto .name, textarea{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;

}

.name input{
    border-radius: 22px;
    border: none;
    background-color: #e1e1e1;
    width: 95%;
    padding: 0.8rem;
}

::placeholder{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.contacto .input-large{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 30px;

}
.input-large input{
    border-radius: 22px;
    border: none;
    background-color: #e1e1e1;
    width: 85%;
    height: 55px;
    padding: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto textarea{
    height: 150px;
    border: none;
    border-radius: 22px;
    background-color: #e1e1e1;
    width: 98%;
    padding: 0.8rem;
}

.input-large {
    margin-bottom: 10px;
}
.paraph-contact{
    color: black;
    text-align: center;
    margin-bottom: 22px;
    font-size: 16px;
}
.contacto input:focus, .form-contacto textarea:focus{
	border: 2px solid black;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.btn-form{
	height: 55px;
	width: 85%;
	background: black;
	color: #fff;
	border: none;
    border-radius: 1000px;
	cursor: pointer;
	transition: .1s ease all;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}


/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: 60px;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}


/* footer */

footer{
    padding: 0 1rem;
    background-color: #F0F0F0;
    padding: 2rem 5rem;
}

.footer-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer img{
    width: 200px;
    height: 80px;
    transition-delay: 200ms;
}
.footer-down {
    width: 40%;
}
.footer-down p{
    color: black;
}

.list-footer, .logo-footer{
    width: 40%;
}
.list-footer{
    justify-content: end;
}
.list-footer ul{
    display: flex;
    gap: 20px;
    margin: 1rem 3rem 0 1rem;
}

.list-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
}
.list-footer ul li i{
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
    cursor: pointer;
    color: black;
    transition: 0.8s;
}

/* responsive */

@media(max-width:715px){

    /* header */
    
    .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
    }
    .logo-img img{
        padding: 0;
    }
    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    .lista-header ul li a{
        color: black;
    }
    header.sticky{
        padding: 1rem 2rem;
    }

    /* banner */
    
    .slider{
        height: 500px;
    }
    .inf-banner p {
        font-size: 20px;
    }
    .inf-banner {
        position: absolute;
        top: 75%;
        margin: 0 2rem;
    }

    /* Nosotros */

    .inf-nosotros{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0 0 2rem 0;
    }
    .paraph-nosotros, .img-video-nosotros{
        width: 90%;
    }
    .paraph-nosotros p{
        text-align: center;
        width: 100% !important;
    }

    .nosotros{
        padding: 3rem 0;
    }
    .paraph-nosotros p:nth-child(1){
        font-size: 15px;
    }
    .paraph-nosotros p:nth-child(2){
        font-size: 24px;
    }
    .paraph-nosotros p:nth-child(3){
        font-size: 17px;
    }
    .nosotros .title-nosotros h1, .service .title-service{
        margin: 4rem 0;

    }
    .nosotros .title-nosotros h1, .service .title-service h1{
        font-size: 30px;
    }
    .title-service p{
        width: 87%;
        text-align: justify;
    }

    .clientes-logos{
        padding: 2rem 0;
    }
    
    .clientes-logos h1{
        font-size: 30px;
        margin: 2rem 0;
    }

    .img-nosotros{
        justify-content: center;
        width: 100%;
    }
    .img-nosotros img {
        height: 370px;
    }
    
    /* servicios */

    .servicio{
        flex-direction: column;
    }
    .service-card{
        width: calc(90%);
        margin: auto;
    }


    

    /* proyectos */
    .list-projects ul{
        padding-left: 20px;
    }
    .list-projects ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .list-projects{
        margin: 2rem 0;
    }
    .projects .title-projects h1{
        font-size: 25px;
    }
    .galeria-img{
        gap: 0;
    }
    .galeria-card{
        margin-bottom: 6px;
        width: 100%;
    }
    .projects{
        padding: 4rem 0 0 0;
    }


    /* Contacto */

    .contacto{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 2rem 0 6rem;
    }
    .form, .contact-img{
        width: 93%;
    }

    .input-large input, .btn-form{
        width: 100%;
    }
    .inf-contacto {
        width: 85%;
    }
    .container-contacto p:nth-child(2){
        width: 90%;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 20px;
    }

    /* footer */

    footer{
        padding: 0;
    }
    
    .footer-up{
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
    }
    .footer-down{
        padding: 2rem 0;
        margin: 0 1rem;
    }
    .footer-down p{
        text-align: center;
    }

    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .list-footer, .logo-footer{
        width: 100%;
    }
    .list-footer {
        justify-content: center;
    }
    .footer-down {
        width: 100%;
        padding: 2rem 0;
        margin: 0;
    }
    
    /* wsp */

    .whatsapp-container img{
        width: 55px;
    }
    .whatsapp-container i {
        font-size: 35px
    }
    .whatsapp-container{
        max-width: 35px;
    }
}

@media screen and (min-width: 715px) and (max-width: 1000px){

    /* banner */

    .logo-img img{
        padding: 0;
    }

    .slider {
        height: 55vh;
    }
    .inf-banner {
        margin: 0 0 0 5rem;
    }
    .inf-banner p {
        font-size: 40px;
    }

    /* Nosotros */

    .paraph-nosotros p:nth-child(3), .paraph-nosotros p:nth-child(2){
        width: 100%;
    }
    .inf-nosotros{
        gap: 2rem;
    }
    .img-video-nosotros img{
        width: 200px;
        height: 350px;
    }
    .img-video-nosotros video{
        width: 200px;
        height: 400px;
    }


    /* servicio */

    .servicio{
        flex-wrap: wrap;
    }

    .service-card{
        width: calc(45% - 0.3rem);
    }    
    .title-service p{
        width: 87%;
        text-align: justify;
    }

    /* proyectos */

    .galeria-img{
        width: 100%;
    }

    .list-projects ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .galeria-card{
        width: 31%;
        height: 290px;
    }

    /* Contacto */

    .contacto{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 2rem 0 6rem;
    }
    .form, .contact-img{
        width: 70%;
        padding: 90px 30px;
    }

    .input-large input, .btn-form{
        width: 100%;
    }
    .inf-contacto {
        width: 85%;
    }
    .container-contacto p:nth-child(2){
        width: 90%;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 20px;
    }

    /* clientes */
    .clientes-logos h1{
        margin: 4rem 0;
    }

    /* footer */

    .list-footer {
        width: 50%;
    }

    .logo-footer p {
        display: none;
    }
    .logo-footer ul{
        justify-content: center;
    }
    .footer-down {
        width: 50%;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1300px){

    /* header */

    header{
        padding: 0px 2rem !important;
    }
    .banner-img{ 
        height: 60vh;
    }

    .inf-banner {
        position: absolute;
        top: 75%;
        margin: 0 8rem;
    }
    .slider{
        height: 55vh;
    }

    /* Nosotros */

    .paraph-nosotros p:nth-child(3), .paraph-nosotros p:nth-child(2){
        width: 100%;
    }
    .inf-nosotros{
        gap: 2rem;
    }
    .img-video-nosotros img{
        width: 250px;
        height: 410px;
    }
    .img-video-nosotros video{
        width: 250px;
        height: 440px;
    }

    .nosotros{
        padding: 3rem 0;
    }

    /* servicios */

    .service-card{
        width: calc(40% - 0.3rem);
    }  
    .title-service p{
        width: 87%;
        text-align: justify;
    }

    /* proyecto */

    .galeria-img{
        width: 100%;
    }
    .galeria-card{
        width: 32%;
    }

    /* contacto */
    .contacto{
        gap: 2rem;
    }

    .contact-img video {
        width: 230px;
        height: 420px;
    }
    .contact-img img {
        width: 230px;
        height: 460px;
    }
    .container-contacto p:nth-child(3), 
    .container-contacto p:nth-child(4) {
        font-size: 30px;
    }
    .container-contacto p:nth-child(1){
        width: 85%;
    }

    /* form */

    .form, .contact-img {
        width: 45%;
    }

    /* footer */
    
    .list-footer {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
        gap: 1rem;
    }

}

@media (min-width: 1600px){
    .galeria-img {
        width: 70%;
    }
}


/* Para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
