@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

a{
    color: white;
}

.flex{
    display: flex;
}

/* Header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 5rem 0 4rem;
    align-items: center;
    transition: 0.6s;
}

header.sticky{
    padding: 0.6rem 5rem 0.6rem 4rem;
    background-color: white;
}

.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: capitalize;
}

header.sticky ul li a{
    color: black;
}

.line{
    position: relative;
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: relative;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}


/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

.logo-img img{
    padding: 0 0 0 4rem;
    width: 80%;
    transition: 0.6s;
}


/* slider */

.list{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    position: absolute;
    top: 23%;
}

.slider{
    width: 100%;
    max-width: 100vw;
    height: 830px;
    margin: auto;
    position: relative;
    background-color: #F0F0F0;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-banner img{
    width: 550px;
    height: 560px;
}

.title-banner p{
    font-size: 30px;
    color: #000000;
    font-weight: 600;
}

.title-nosotros-banner h1{
    text-transform: uppercase;
    font-size: 40px;
}
.icon-banner{
    position: absolute;
    top: 91%;
    right: 50%;
}
.icon-banner i{
    font-size: 50px;
    color: black;
}


/* collage img */

.collage-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -80px;
}

.collage-one{
    width: 100%;
    max-width: 1250px;
    margin: auto;
}


.collage-one img:nth-child(1){
    width: 491px;
    height: 600px;
}
.collage-one img:nth-child(2){
    width: 753px;
    height: 500px;
    transition-delay: 100ms
}
.collage-two img:nth-child(2){
    width: 585px;
    height: 700px;
    transition-delay: 500ms;
}
.collage-two img:nth-child(1){
    width: 660px;
    height: 500px;
    transition-delay: 300ms;
    margin-bottom: 197px;
}


/* inf-nosotros */

.inf-nosotros{
    width: 600px;
    position: absolute;
    top: 88%;
    right: 49%;
    font-size: 15px;
    line-height: 1.65;
}


/* paragraph */

.paragraph{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: start;
    padding: 10rem 0;
}
.paragraph h1{
    width: 40%;
    font-size: calc(25px + (35 - 25) * ((100vw - 375px) / (1600 - 375)));
    transition-delay: 200ms
}

.paragraph p{
    width: 37%;
    font-size: 15px;
    line-height: 1.65;
    transition-delay: 400ms
}



/* title linea */
.title-time-line{
    text-align: center;
    padding-bottom: 6rem;
}

.title-time-line h1{
    padding-bottom: 20px;
    font-size: 32px;
}


/* Linea de Tiempo */

article{
    padding: 4rem 0;
    background-color: #F0F0F0 ;
}

.stripe {
    position: relative;
}

.flexo {
    display: flex;
    position: relative;
}
.widtho {
    width: 92%;
    max-width: 1200px;
    margin: auto;
}

.widtho .sg-pos{
    transition-delay: 200ms
}
.widtho .sg-pos1{
    transition-delay: 300ms
}
.widtho .sg-pos2{
    transition-delay: 400ms
}
.widtho .sg-pos3{
    transition-delay: 500ms
}
.widtho .sg-pos4{
    transition-delay: 600ms
}
.widtho .sg-pos5{
    transition-delay: 700ms
}

.stripeItem {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.stripeItem:nth-child(even) {
    padding-top: 180px;
}

.stripeItemDate h3 {
    padding-top: 14px;
    font-size: calc(18px + (25 - 18) * ((100vw - 375px) / (1600 - 375)));
    line-height: 1.4;
}

.stripeItemDate i {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 30px;
}

.stripe:before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #292525;
    position: absolute;
    left: 0;
    top: 50%;
}

.stripe.scroll-item.active-top.stripe:before, .stripe .scroll-item.active-top.stripe:before{
    width: 100%;
}

.stripeItem:before, .stripeItem:after {
    content: '';
    position: absolute;
    background-color: #292525;
}
.stripeItem:nth-child(odd):before {
    width: 1px;
    height: 86px;
    left: 30px;
    top: 58px;
}
.stripeItem:nth-child(even):before {
    width: 1px;
    height: 86px;
    left: 30px;
    bottom: 58px;
}
.stripeItem:nth-child(even):after {
    width: 10px;
    height: 10px;
    bottom: calc(50% - 3.5px);
    left: 27px;
    border-radius: 100%;
}
.stripeItem:nth-child(odd):after {
    width: 10px;
    height: 10px;
    top: calc(50% - 3.5px);
    left: 27px;
    border-radius: 100%;
}


/* partner */


.partner{
    padding: 8rem 0 5rem 0;
}

.title-empresas{
    width: 92%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.title-empresas p{
    width: 70%;
    margin: auto;
}

.title-empresas h1{
    padding-bottom: 20px;
    font-size: 32px;
}


/* Clientes */

.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
} 

.scroll img{
    width: 150px;
    height: 100px;
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
}

.scroll img:not(:hover){
    filter: grayscale(100%);
}

.scroll{
    position: relative;
    display: flex;
    width: 1200px;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll .este{
    white-space: nowrap;
    animation: animate 30s linear infinite;
}


@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

.scroll:hover .este{
    animation-play-state: paused;
}

.title-clientes{
    text-align: center;
    color: var(--primary-color);
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 41px;
    font-weight: 200;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}


footer{
    padding: 0 1rem;
    background-color: #F0F0F0;
    padding: 2rem 5rem;
}

.footer-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer img{
    width: 200px;
    height: 80px;
    transition-delay: 200ms;
}
.footer-down {
    width: 40%;
}
.footer-down p{
    color: black;
}

.list-footer, .logo-footer{
    width: 40%;
}
.list-footer{
    justify-content: end;
}
.list-footer ul{
    display: flex;
    gap: 20px;
    margin: 1rem 3rem 0 1rem;
}

.list-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
}
.list-footer ul li i{
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
    cursor: pointer;
    color: black;
    transition: 0.8s;
}


/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: 60px;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}


/* scrool */

.hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(50px);
    transition: all 1s;
    padding-top: 20%;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
    padding-top: 0%;

}



@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}



/* responsive */


@media(max-width:715px){

    /* header */

    .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
    }
    .logo-img img{
        padding: 0;
    }
    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    .lista-header ul li a{
        color: black;
    }
    header.sticky{
        padding: 1rem 2rem;
    }
    
    /* banner */

    .list{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    .img-banner img{
        width: 300px;
        height: 300px;
    }
    .title-banner p {
        font-size: 20px;
        text-align: center;
    }
    .item{
        gap: 20px;
    }

    .title-nosotros-banner h1{
        font-size: 30px;
        text-align: center;
    }

    .collage-one img:nth-child(1),.collage-two img:nth-child(1),
    .collage-one img:nth-child(2), .collage-two img:nth-child(2){
        height: 250px;
        object-fit: cover;
    }

    .collage-one img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 7px;
    }
    .collage-one img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
    }
    .collage-two img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 0;
    }
    .collage-two img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
        padding-top: 7px;
    }

    .inf-nosotros{
        position: inherit;
        margin: auto;
        width: 90%;
        top: 0;
        right: 0;
        padding: 100px 0;
        text-align: justify;
    }
    .paragraph{
        flex-direction: column;
        padding: 2rem 0 8rem 0;
    }
    .paragraph h1, .paragraph p{
        width: 90%;
        margin: auto;
    }
    .title-empresas p {
        width: 90%;
    }
    .icon-banner {
        top: 82%;
        right: 42%;
    }

    .widtho {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .stripeItemDate {
        display: flex;
        align-items: center;
    }
    .stripeItemDate i {
        margin-right: 31px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .stripeItemDate h3 {
        width: 150px;
        padding-top: 0;
    }
    .stripeItem {
        padding-left: 0 !important;
        padding-top: 38px !important;
    }
    .stripeItem:nth-child(odd):after{
        display: none;
    }

    .stripeItem:before, .stripeItem:after, .stripeItem:nth-child(odd):before,
    .stripeItem:nth-child(even):before, .stripeItem:nth-child(even):after,
    .stripeItem:nth-child(odd):after{
        display: none;
    }

    .stripe.scroll-item.active-top.stripe:before, 
    .stripe .scroll-item.active-top.stripe:before {
        width: auto;
    }

    .title-time-line {
        padding: 0 10px 20px 10px;
    }
   /* footer */

    footer{
        padding: 0;
    }

    .footer-up{
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
    }
    .footer-down{
        padding: 2rem 0;
        margin: 0 1rem;
    }
    .footer-down p{
        text-align: center;
    }

    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-footer, .logo-footer{
        width: 100%;
    }
    .list-footer {
        justify-content: center;
    }
    .footer-down {
        width: 100%;
        padding: 2rem 0;
        margin: 0;
    }
}

@media screen and (min-width: 715px) and (max-width: 1000px){
    /* Banner */

    .img-banner img {
        width: 400px;
        height: 400px;
    }
    .title-banner p{
        font-size: 22px;
    }
    .slider{
        height: 740px;
    }
    
    /* album de fotos */

    .collage-one img:nth-child(1),.collage-two img:nth-child(1),
    .collage-one img:nth-child(2), .collage-two img:nth-child(2){
        height: 400px;
    }

    .collage-one img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 7px;
    }
    .collage-one img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
    }
    .collage-two img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 0;
    }
    .collage-two img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
        padding-top: 7px;
    }
    .collage-img{
        margin-left: 10px;
        margin-bottom: 15rem;
    }

    .inf-nosotros{
        width: 41%;
        top: 103%;
        right: 58%;
    }
    .inf-nosotros p{
        text-align: justify;
    }

    .paragraph h1, .paragraph p{
        width: 100%;
        text-align: justify;
    }
    .paragraph{
        flex-direction: column;
        padding: 10rem 50px;
    }

    article{
        background-color: white;
    }
    
    /* footer */

    .list-footer {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
        gap: 1rem;
    }
    .footer-down {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    
    /* Banner */

    .img-banner img {
        width: 500px;
        height: 500px;
    }
    .title-banner p{
        font-size: 22px;
    }


    /* album de fotos */

    .collage-one img:nth-child(1),.collage-two img:nth-child(1),
    .collage-one img:nth-child(2), .collage-two img:nth-child(2){
        height: 500px;
    }

    .collage-one img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 7px;
    }
    .collage-one img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
    }
    .collage-two img:nth-child(1){
        width: calc(50% - 2.5px - 6%);
        margin-right: 5px;
        margin-bottom: 0;
    }
    .collage-two img:nth-child(2){
        width: calc(54% - 2.5px);
        margin-bottom: -10%;
        padding-top: 7px;
    }
    .collage-img{
        margin-left: 10px;
        margin-bottom: 15rem;
    }

    .inf-nosotros{
        width: 41%;
        top: 103%;
        right: 58%;
    }
    .inf-nosotros p{
        text-align: justify;
    }

    .paragraph h1, .paragraph p{
        width: 100%;
        text-align: justify;
    }
    .paragraph{
        flex-direction: column;
        padding: 10rem 50px;
    }

    article{
        background-color: white;
    }


    /* footer */

    .list-footer {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
        gap: 1rem;
    }


}