@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(img/banner4.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    background-attachment: fixed;
    object-fit: cover;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 5rem 0px 4rem;
    align-items: center;
    transition: 0.6s;
}
header.sticky{
    padding: 1rem 5rem 1rem 4rem;
    background-color: white;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}
header.sticky ul li a{
    color: black;
}
.line, .service-line{
    position: relative;
 }

 .service-line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
    width: 100%;
    right: 0;
}

.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}


.logo-img img{
    padding: 0 0 0 4rem;
    width: 80%;
    transition: 0.6s;
}

/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

/* slider */

.slider{
    width: 100%;
    max-width: 100vw;
    height: 30vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 2000px;
    max-width: 100vw;
    height: 45vh;
    object-fit: cover;
}


.title-banner{
    padding: 140px 0;
}

.title-banner h1{
    text-align: center;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
}
.title-banner p{
    text-align: center;
    color: black;
    font-size: 16px;
    padding: 20px 0;
    width: 60%;
    margin: auto;
}

.icon-banner{
    width: 100%;
    height: 90%;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: end;
    top: 0;
    right: 0;
}

.inf-banner p{
    font-size: 10px;
    color: #ffff;
    text-transform: capitalize;
    width: 30%;
}

.icon-banner i{
    font-size: 50px;
    color: white;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}



/* Servicios */

.list-projects{
    margin: 5rem 0;
}
.list-projects ul{
    display: flex;
}
.list-projects ul li:nth-child(even){
    padding: 0 10px;
}
.list-projects ul li{
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.list-projects ul li a{
    color: black;
}

.button-service a{
    color: white;
}

/* fotos */


.galeria-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.galeria-img a{
    width: calc(50% - 2.4px);
    margin-bottom: 4.8px;
}

.img-service{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service1.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.img-service-2{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service2.png);
    background-size: 60% 100%;
    background-attachment: fixed;
}
.img-service-3{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service3.png);
    background-size: 63% 100%;
    background-attachment: fixed;
}

.text-service{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    height: 380px;
}

.text-service label{
    cursor: pointer;
}
.text-service Label:hover i{
    font-weight: 600;
}
.text-service Label:hover{
    font-weight: 600;
}

.text-service label, .text-service button{
    padding: 10px 0;
}

.text-service h1{
    font-weight: 300;
}

.text-service .inf-service-down{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
input[type='checkbox']:checked ~ .inf-service-down{
    max-height: 600px;
    padding: 0 5px 10px 5px;
}
.inf-service-down p{
    text-transform: capitalize;
    padding: 0 2rem;
    text-align: left;
}

.button-galeria button{
    border: 2px solid black;
    padding: 8px 32px;
    border-radius: 22px;
    background-color: white;
    font-size: 16px;
    transition: 0.7s;
    font-weight: 600;
    cursor: pointer;
}

.button-galeria button:hover{
    background-color: black;
    color: white;
}

input[type='checkbox']{
    display: none;
}

.button-service button{
    background-color: black;
    color: white;
    padding: 10px 27px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}
.button-service button:hover{
    transform: scale(1.05);
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}



/* Proyectos */
.projects{
    height: auto;
}

.projects .title-projects h1{
    font-weight: 500;
    margin: 3rem 0;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 5rem;
}
.list-projects{
    margin: 4rem 0;
}
.list-projects ul{
    display: flex;
    padding-left: 4.5rem;
}
.list-projects ul li{
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s;
}

.list-projects ul li:nth-child(even){
    padding: 0 10px;
}

/* Galeria */

.list-projects .filter-item.active{
    border-bottom: 1px solid black;
}

.galeria-card.hide{
    display: none;
}

.galeria-card.show{
    animation: fadeIn .5s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.galeria-card{
    width: 100%;
    height: 80vh;
    display: block;
    position: relative;
    overflow: hidden;

}
.galeria-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease-in-out;
}

.galeria-card .overlay{
    background-color: #343434a1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-inf{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.galeria-card:hover .card-inf{
    opacity: 1;
    /* pointer-events: unset; */
}
.card-inf a i{
    transition: 0.8s;
}
.card-inf a i:hover{
    color: black;
}
.galeria-card:hover .overlay{
    opacity: 1;
}

.card-inf button, .card-inf p, .card-inf .bx-plus{
    margin: 8px 0;
}

.card-inf button{
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.card-inf p{
    font-size: 18px;
    color: white;
}

.card-inf li{
    cursor: pointer;
}



/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: 60px;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}

footer{
    padding: 0 1rem;
    background-color: #F0F0F0;
    padding: 2rem 5rem;
}

.footer-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer img{
    width: 200px;
    height: 80px;
    transition-delay: 200ms;
}
.footer-down {
    width: 40%;
}
.footer-down p{
    color: black;
}

.list-footer, .logo-footer{
    width: 40%;
}
.list-footer{
    justify-content: end;
}
.list-footer ul{
    display: flex;
    gap: 20px;
    margin: 1rem 3rem 0 1rem;
}

.list-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
}
.list-footer ul li i{
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
    cursor: pointer;
    color: black;
    transition: 0.8s;
}

@media(max-width:715px){

    /* header */
 
    .banner-top, .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
    }
    .logo-img img{
        padding: 0;
    }

    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    header.sticky {
        padding: 1rem 2rem;
    }

    /* banner */

    .banner{
        padding: 8rem 0 0 0;
        align-items: center;
    }
    .title-banner p{
        text-align: center;
        font-size: 16px;
        width: 90%;
    }

    .galeria-card{
        height: 45vh;
    }
    .galeria-img a {
        width: 100%;
    }
    .title-banner {
        padding: 60px 0;
    }

    /* list */

    .list-projects ul{
        padding-left: 0;
    }

    .lista-header ul li a{
        color: black;
    }

    /* album */

    .list-projects ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* servicios */

    .dise単o-comercial p{
        text-align: center;
    }

    .dise単o-comercial, .recidencial, .servicio-cat{
        height: 55vh;
    }
    .img-service{
        width: 100%;
    }
    .galeria-img{
        flex-direction: column;
    }
    .servicio-cat p, .recidencial p, .dise単o-comercial p{
        font-size: 50px;
    }


    /* footer */

    footer{
        padding: 0;
    }
    
    .footer-up{
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
    }
    .footer-down{
        padding: 2rem 0;
        margin: 0 1rem;
    }
    .footer-down p{
        text-align: center;
    }

    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .list-footer, .logo-footer{
        width: 100%;
    }
    .list-footer {
        justify-content: center;
    }
    .footer-down {
        width: 100%;
        padding: 2rem 0;
        margin: 0;
    }

    /* wsp */

    .whatsapp-container img{
        width: 55px;
    }
    .whatsapp-container i {
        font-size: 35px
    }
    .whatsapp-container{
        max-width: 35px;
    }
}

@media screen and (min-width: 715px) and (max-width: 1000px){
    .galeria-card {
        height: 30vh;
    }
    .slider {
        height: 40vh;
    }
    
    /* footer */

    .list-footer {
        width: 50%;
    }

    .logo-footer p {
        display: none;
    }
    .logo-footer ul{
        justify-content: center;
    }
    .footer-down {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){

    /* header */

    .banner{
        height: 20vh;
    }
    .dise単o-comercial, .recidencial, .servicio-cat{
        height: 40vh;
    }
    .img-service{
        width: 600px;
    }
    .logo-img img {
        padding: 0;
    }
    .slider {
        height: 40vh;
    }

    /* proyectos */

    .galeria-card{
        height: 30vh;
    }


     /* footer */
    
     .list-footer {
        width: 50%;
    }

    .logo-footer ul{
        justify-content: center;
    }
}