@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(img/banner-servicio.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px 4rem 0;
    align-items: center;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.line, .service-line{
    position: relative;
 }

 .service-line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
    width: 100%;
    right: 0;
}

.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s;
}

.boton button:hover{
    font-weight: 600;
}

.logo-img img{
    padding: 0 0 0 4rem;
    width: 80%;
}

/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

/* Banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 35vh;
    cursor: context-menu;
}

.banner .title-banner{
    font-size: 40px;
    color: white;
    font-weight: 200;
    padding: 15px 30px;
    margin: 0 7rem;
    background-color: #00000070;
}
.title-banner p{
    text-transform: uppercase;
}

/* Servicios */

.galeria{
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.list-projects{
    margin: 5rem 0;
}
.list-projects ul{
    display: flex;
}
.list-projects ul li:nth-child(even){
    padding: 0 10px;
}
.list-projects ul li{
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.list-projects ul li a{
    color: black;
}

.button-service a{
    color: white;
}

/* fotos */


.galeria-img{
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 10px;
}

.img-service{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service1.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.img-service-2{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service2.png);
    background-size: 60% 100%;
    background-attachment: fixed;
}
.img-service-3{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(img/service3.png);
    background-size: 63% 100%;
    background-attachment: fixed;
}

.text-service{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    height: 380px;
}

.text-service label{
    cursor: pointer;
}
.text-service Label:hover i{
    font-weight: 600;
}
.text-service Label:hover{
    font-weight: 600;
}

.text-service label, .text-service button{
    padding: 10px 0;
}

.text-service h1{
    font-weight: 300;
}

.text-service .inf-service-down{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
input[type='checkbox']:checked ~ .inf-service-down{
    max-height: 600px;
    padding: 0 5px 10px 5px;
}
.inf-service-down p{
    text-transform: capitalize;
    padding: 0 2rem;
    text-align: left;
}

.button-galeria button{
    border: 2px solid black;
    padding: 8px 32px;
    border-radius: 22px;
    background-color: white;
    font-size: 16px;
    transition: 0.7s;
    font-weight: 600;
    cursor: pointer;
}

.button-galeria button:hover{
    background-color: black;
    color: white;
}

input[type='checkbox']{
    display: none;
}

.button-service button{
    background-color: black;
    color: white;
    padding: 10px 27px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}
.button-service button:hover{
    transform: scale(1.05);
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}



/* Proyectos */
.projects{
    height: auto;
    margin: 0 0 3rem 0;
}
.projects .title-projects h1{
    font-weight: 500;
    margin: 3rem 0;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 5rem;
}
.list-projects{
    margin: 4rem 0;
}
.list-projects ul{
    display: flex;
    padding-left: 4.5rem;
}
.list-projects ul li{
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s;
}

.list-projects ul li:nth-child(even){
    padding: 0 10px;
}

/* .list-projects ul li:nth-child(odd):hover{
    text-decoration: 2px underline;
} */

/* Galeria */

.list-projects .filter-item.active{
    border-bottom: 1px solid black;
}

.galeria-card.hide{
    display: none;
}

.galeria-card.show{
    animation: fadeIn .5s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.galeria-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.galeria-card{
    width: 350px;
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden;

}
.galeria-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;}

.galeria-card:hover img{
    transform: scale(1.5);
}

.galeria-card .overlay{
    background-color: #ffffffbd;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 4%;
    right: 0;
    left: 4%;
    bottom: 0;
    width: 92%;
    height: 92%;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-inf{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .6s ease-in-out;
}

.galeria-card:hover .card-inf{
    opacity: 1;
    /* pointer-events: unset; */
}
.card-inf a i{
    transition: 0.8s;
}
.card-inf a i:hover{
    color: black;
}
.galeria-card:hover .overlay{
    opacity: 1;
}

.card-inf button, .card-inf p, .card-inf .bx-plus{
    margin: 8px 0;
}

.card-inf button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
}

.card-inf p{
    text-transform: uppercase;
    color: black;
}
.card-inf .bx-plus{
    color: #808080;
    font-size: 25px;
    cursor: pointer;
}

.card-inf li{
    cursor: pointer;
}



/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}

.whatsapp-container i{
    font-size: 3rem;
    margin-left: 1.5rem;
    background-color: white;
}

/* footer */

footer{
    padding: 0 2rem;
    background-color: black;
}

.footer-up{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.logo-footer img{
    width: 200px;
    height: 80px;
}

.logo-footer p{
    color: white;
    width: 40%;
    text-align: left;
    font-size: 14px;
}

.list-menu-footer p{
    font-weight: 700;
    font-size: 18px;
}

.list-menu-footer li, .list-menu-footer p{
    color: white;
    padding-bottom: 10px;
}

.list-menu-footer li:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.footer-down{
    padding: 2rem 3rem;
    border-top: 2px solid white;
}

.footer-down p{
    color: white;
}

.list-footer{
    width: 30%;
    gap: 2rem;
}
.logo-footer ul{
    display: flex;
    margin: 1rem 0;
}
.logo-footer ul li{
    margin-right: 8px;
    transition: 0.8s;
}
.logo-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
}
.logo-footer ul li i{
    border-radius: 100%;
    border: 1px solid white;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
}

@media(max-width:991px){
    /* header */
 
    .banner-top, .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
        padding: 0 1rem !important;
    }
    .logo-img img{
        padding: 0;
    }

    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    /* banner */

    .banner{
        padding: 8rem 0 0 0;
        align-items: center;
    }
    .title-banner p{
        text-align: center;
        font-size: 30px;
    }
    .banner-img{
        height: 40vh;
    }

    /* list */

    .list-projects ul{
        padding-left: 0;
    }

    /* album */

    .list-projects ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* servicios */

    .dise単o-comercial p{
        text-align: center;
    }

    .dise単o-comercial, .recidencial, .servicio-cat{
        height: 55vh;
    }
    .img-service{
        width: 100%;
    }
    .galeria-img{
        flex-direction: column;
    }
    .servicio-cat p, .recidencial p, .dise単o-comercial p{
        font-size: 50px;
    }

    /* footer */

    .footer-up{
        flex-direction: column;
        gap: 1rem;
    }
    .list-footer{
        width: 100%;
    }

    .footer-down {
        padding: 2rem 0;
    }

    .footer-down p{
        text-align: center;
    }
        
    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .logo-footer p{
        width: 82%;
        text-align: center;
    }
}

@media screen and (min-width: 991px) and (max-width: 1300px){

    /* header */

    .banner-img{ 
        height: 30vh;
    }
    .banner{
        height: 20vh;
    }
    .dise単o-comercial, .recidencial, .servicio-cat{
        height: 40vh;
    }
    .img-service{
        width: 600px;
    }
    .logo-img img {
        padding: 0;
    }

     /* footer */
    
     .list-footer {
        width: 70%;
    }

    /* footer */
    
    .list-footer {
        width: 70%;
    }

    .logo-footer{
        text-align: center;
    }

    .logo-footer p {
        width: 100%;
        text-align: center;
    }
    .logo-footer ul{
        justify-content: center;
    }
}