@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(../img/banner-servicio.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    position: fixed;
    z-index: 1000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.line, .service-line{
    position: relative;
 }

 .service-line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
    width: 100%;
    right: 0;
}

.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s;
}

.boton button:hover{
    font-weight: 600;
}

.logo-img img{
    padding: 0 0 0 4rem;
}

/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

/* Banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 35vh;
    cursor: context-menu;
}

.banner .title-banner{
    font-size: 30px;
    color: white;
    font-weight: 200;
    padding: 15px 30px;
    margin: 0 7rem;
    background-color: #00000070;
}
.title-banner p{
    text-transform: uppercase;
    text-align: center;
}


/* Proyecto inf */

.project{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.img-project{
    width: 60%;
    display: flex;
    justify-content: end;
}

.inf-project{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-project img{
    width: 90%;
    height: 60vh;
}

.inf-proj{
    width: 70%;
}


.inf-proj{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inf{
    border: 1px solid black;
    padding: 10px;
}

.tiitle-inf p{
    font-size: 18px;
    text-transform: uppercase;
}

/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}

.whatsapp-container i{
    font-size: 3rem;
    margin-left: 1.5rem;
    background-color: white;
}

.inf p{
    margin-bottom: 5px;
}


/* Pictures */

.picture-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.text-picture p{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.column-picture img{
    width: 100%;
    margin-top: 5px;
}

.picture{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column-picture{
    flex: 25%;
    padding: 5px;
}

/* footer */

footer{
    padding: 0 2rem;
    background-color: black;
}

.footer-up{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.logo-footer img{
    width: 200px;
    height: 80px;
}

.logo-footer p{
    color: white;
    width: 40%;
    text-align: left;
    font-size: 14px;
}

.list-menu-footer p{
    font-weight: 700;
    font-size: 18px;
}

.list-menu-footer li, .list-menu-footer p{
    color: white;
    padding-bottom: 10px;
}

.list-menu-footer li:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.footer-down{
    padding: 2rem 3rem;
    border-top: 2px solid white;
}

.footer-down p{
    color: white;
}

.list-footer{
    width: 30%;
    gap: 2rem;
}
.logo-footer ul{
    display: flex;
    margin: 1rem 0;
}
.logo-footer ul li{
    margin-right: 8px;
    transition: 0.8s;
}
.logo-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
}
.logo-footer ul li i{
    border-radius: 100%;
    border: 1px solid white;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
}



@media screen and (min-width: 991px) and (max-width: 1300px){

    /* header */

    .banner-img{ 
        height: 30vh;
    }
    .banner{
        height: 20vh;
    }
    .diseño-comercial, .recidencial, .servicio-cat{
        height: 40vh;
    }
    .img-service{
        width: 600px;
    }
    .logo-img img {
        padding: 0;
    }

    .none{
        display: none;
    }

    /* inf-proyecto */

    .inf-proj {
        width: 85%;
    }

    .img-project img{
        height: 36vh;
    }
    .column-picture {
        flex: 30%
    }

     /* footer */
    
     .list-footer {
        width: 70%;
    }

    /* footer */
    
    .list-footer {
        width: 70%;
    }

    .logo-footer{
        text-align: center;
    }

    .logo-footer p {
        width: 100%;
        text-align: center;
    }
    .logo-footer ul{
        justify-content: center;
    }
}


@media(max-width:991px){

    /* header */
 
    .banner-top, .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
        padding: 0 1rem !important;
    }
    .logo-img img{
        padding: 0;
    }

    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    /* banner */
    
    .banner{
        padding: 8rem 0 0 0;
        align-items: center;
    }
    .title-banner p{
        text-align: center;
        font-size: 20px;
    }
    .banner-img{
        height: 40vh;
    }

    .banner .title-banner{
        margin: 0;
    }

    /* inf-proyecto */

    .project{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .img-project{
        width: 90%;
        justify-content: center;
    }

    .img-project img {
        width: 90%;
        height: 40vh;
    }
    
    .inf-project, .inf-proj{
        width: 90%;
        align-items: center;
        gap: 1rem;
    }


    /* album de imagenes */

    .picture-image{
        margin: 0;
    }
    .column-picture {
        flex: 100%;
    }

    .none-table{
        display: none;
    }

    /* footer */

    .footer-up{
        flex-direction: column;
        gap: 1rem;
    }
    .list-footer{
        width: 100%;
    }

    .footer-down {
        padding: 2rem 0;
    }

    .footer-down p{
        text-align: center;
    }
        
    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .logo-footer p{
        width: 82%;
        text-align: center;
    }
}