@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    cursor: pointer;
}
.banner-top{
    justify-content: end;
    gap: 2rem;
    height: 40px;
    align-items: center;
    background-color: #000000b8;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.line{
    position: relative;
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s;
}

.boton button:hover{
    font-weight: 600;
}

.logo-img img{
    padding: 0 0 0 4rem;
}

/* Banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 0 0 3rem 8rem;
    gap: 15px;
    cursor: context-menu;
}

.banner .welcome-benner p{
    background-color: #575252;
    padding: 7px 8px;
    width: 17rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.banner .title-banner{
    font-size: 55px;
    color: black;
    font-weight: 600;
}
.title-banner p{
    text-transform: capitalize;
}
.banner .text-banner{
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 0 10px;
}
.text-banner p, .button-banner button{
    font-weight: 600;
}
.portafolio{
    background-color: transparent;
    border: 2px solid black;
    padding: 8px;
    font-size: 20px;
    width: 9rem;
    display: flex;
    align-items: center;
}
.portafolio .bx-right-arrow-alt{
    display: flex;
    transition: 0.8s;
}

.button-banner{
    padding: 0 3px;
    display: flex;
    gap: 1rem;
}
.servicio{
    background-color: black;
    border: none;
    padding: 8px;
    font-size: 20px;
    color: white;
    width: 9rem;
}
.button-banner button{
    cursor: pointer;
}

/* Contato black */

.contact{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    height: 75px;
}

.contact p{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.contact button{
    border: none;
    background-color: white;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}


/* Album */
.title-album{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin: 4rem 0;
}

.title-album .first-title{
    width: 40%;
    font-weight: 600;
    font-size: 30px;
}
.title-album .second-title{
    width: 50%;
    font-size: 22px;
    text-align: center;
}

.album .img-album{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}
.img-album .img-unid{
    width: 230px;
    height: 477px;
    overflow: hidden;
}
.img-album .img-unid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.img-unid:hover img{
    transform: scale(1.5);
}

.img-right{
    object-position: 100% 5%;
}

/* Nosotros */

.nosotros{
    margin: 4rem 0;
    padding: 1rem 0 3rem 0;
    background-color: #F0F0F0;
    scroll-margin-top: 10ex;
}

.nosotros .title-nosotros h1, .service .title-service h1{
    text-align: center;
    font-weight: 500;
    margin: 3rem 0;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
}

.inf-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.img-video-nosotros{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
}
.img-video-nosotros img{
    width: 306px;
    height: 512px;
    object-fit: cover;
}
.img-video-nosotros video{
    width: 306px;
    height: 470px;
    object-fit: cover;
}
.paraph-nosotros{
    width: 40%;
}
.paraph-nosotros p{
    margin: 10px 0;
}
.paraph-nosotros p:nth-child(1){
    font-size: 18px;
    font-weight: 600
}
.paraph-nosotros p:nth-child(2){
    font-size: 32px;
    width: 80%;
    font-weight: 600;
    text-transform: uppercase;
}
.paraph-nosotros p:nth-child(3){
    width: 80%;
    font-size: 20px;
    font-weight: 300
}

/* servicios */

.service{
    scroll-margin-top: 6ex;
}

.inf-service{
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 10px;
}

.img-service{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(../img/service1.png);
    background-size: 73% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.img-service-2{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(../img/service2.png);
    background-size: 60% 100%;
    background-attachment: fixed;
}
.img-service-3{
    width: 700px;
    height: 380px;
    border: 1px  solid black;
    background-image: url(../img/service3.png);
    background-size: 63% 100%;
    background-attachment: fixed;
}

.text-service{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    height: 380px;
}

.text-service h1, .text-service p, .text-service button{
    padding: 10px 0;
}

.text-service h1{
    font-weight: 300;
}

.button-service button{
    background-color: black;
    color: white;
    padding: 10px 27px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

/* Proyectos */
.projects{
    height: auto;
    margin: 4rem 0;
}
.projects .title-projects h1{
    font-weight: 500;
    margin: 3rem 0;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 5rem;
}
.list-projects{
    margin: 4rem 0;
}
.list-projects ul{
    display: flex;
    padding-left: 4.5rem;
}
.list-projects ul li{
    padding: 0 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s;
}
.list-projects ul li:nth-child(odd):hover{
    text-decoration: 2px underline;
}

/* Galeria */

.list-projects .filer-item.active{
    border-bottom: 1px solid yellow;
}

.galeria-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 8rem;
}
.galeria-card{
    width: 350px;
    height: 350px;
    display: block;
    position: relative;
}
.galeria-card img{
    width: 100%;
    height: 100%;
}
.galeria-card .overlay{
    background-color: #ffffffbd;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 4%;
    right: 0;
    left: 4%;
    bottom: 0;
    width: 92%;
    height: 92%;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-inf{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    pointer-events: none;
    transition: all .6s ease-in-out;
}

.galeria-card:hover .card-inf{
    opacity: 1;
    /* pointer-events: unset; */
}

.galeria-card:hover .overlay{
    opacity: 1;
}

.card-inf button, .card-inf p, .card-inf .bx-plus{
    margin: 8px 0;
}

.card-inf button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
}

.card-inf p{
    text-transform: uppercase;

}
.card-inf .bx-plus{
    color: #808080;
    font-size: 25px;
    cursor: pointer;
}

.card-inf li{
    cursor: pointer;
}

/* Conctacto */

.contacto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgb(0 0 0 / 78%) 100%), url(../img/fondo-form.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 0;
    scroll-margin-top: 2ex;
}

.form{
    width: 30%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px 30px;
    background-color: white;
}

.contact-img{
    display: flex;
    align-items: center;
    width: 30%;
}
.contact-img img{
    width: 280px;
    height: 500px;
    object-fit: cover;
}
.contact-img video{
    width: 280px;
    height: 450px;
    object-fit: cover;
}

.contacto form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

/* form */


.contacto h1{
    color: black;
    font-weight: 500;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px 0;
}


.contacto form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}


.contacto .name, textarea{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;

}
.name{
    width: calc(50%);
}

.name input{
    border-radius: 22px;
    border: none;
    background-color: #e1e1e1;
    width: 95%;
    padding: 0.8rem;
}

::placeholder{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.contacto input:first-child{
    margin-right: 16px;
}


.contacto .input-large{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;

}
.input-large input{
    border-radius: 22px;
    border: none;
    border-style: solid;
    background-color: #e1e1e1;
    width: 98%;
    padding: 0.8rem;
    color: white !important;
}

.contacto textarea{
    height: 150px;
    border: none;
    border-radius: 22px;
    border-style: solid;
    background-color: #e1e1e1;
    width: 98%;
    padding: 0.8rem;
    color: white !important;
}

.input-large {
    margin-bottom: 10px;
}
.paraph-contact{
    color: black;
    text-align: center;
    margin-bottom: 22px;
}
.contacto input:focus, .form-contacto textarea:focus{
	border: 2px solid black;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.btn-form{
	height: 45px;
	line-height: 45px;
	width: 98%;
	background: black;
	color: #fff;
	border: none;
    border-radius: 1000px;
	cursor: pointer;
	transition: .1s ease all;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}


/* footer */

footer{
    padding: 0 2rem;
    background-color: black;
}

.footer-up{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.logo-footer img{
    width: 200px;
    height: 80px;
}

.logo-footer p{
    color: white;
    width: 40%;
    text-align: left;
    font-size: 14px;
}

.list-menu-footer p{
    font-weight: 700;
    font-size: 18px;
}

.list-menu-footer li, .list-menu-footer p{
    color: white;
    padding-bottom: 10px;
}

.list-menu-footer li:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.footer-down{
    padding: 2rem 9rem;
    border-top: 2px solid white;
}

.footer-down p{
    color: white;
}

.list-footer{
    width: 30%;
    gap: 2rem;
}
.logo-footer ul{
    display: flex;
    margin: 1rem 0;
}
.logo-footer ul li{
    margin-right: 8px;
    transition: 0.8s;
}
.logo-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
}
.logo-footer ul li i{
    border-radius: 100%;
    border: 1px solid white;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
}