@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(../img/banner-servicio.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    position: fixed;
    z-index: 10000;
    top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.line, .service-line{
    position: relative;
 }

 .service-line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
    width: 100%;
    right: 0;
}

.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s;
}

.boton button:hover{
    font-weight: 600;
}

.logo-img img{
    padding: 0 0 0 4rem;
}

/* Menu */

header label{
    display: none;
}
.menu-icono {
    width: 25px;
}
#menu{
    display: none;
}
#menu:checked ~ .header-left .lista-header{
    display: initial;
}

/* Banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 35vh;
    cursor: context-menu;
}

.banner .title-banner{
    font-size: 40px;
    color: white;
    font-weight: 200;
    padding: 15px 30px;
    margin: 0 7rem;
    background-color: #00000070;
}
.title-banner p{
    text-transform: uppercase;
}


/* Nosotros */

.nosotros{
    padding: 3rem 0;
    background-color: #F0F0F0;
    scroll-margin-top: 10ex;
}

.nosotros .title-nosotros h1, .service .title-service h1{
    text-align: center;
    font-weight: 500;
    margin: 3rem 0;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
}

.inf-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.img-video-nosotros{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.img-video-nosotros img{
    width: 306px;
    height: 512px;
    object-fit: cover;
}
.img-video-nosotros video{
    width: 306px;
    height: 470px;
    object-fit: cover;
}
.paraph-nosotros{
    width: 40%;
}
.paraph-nosotros p{
    margin: 10px 0;
}
.paraph-nosotros p:nth-child(1){
    font-size: 18px;
    font-weight: 600
}
.paraph-nosotros p:nth-child(2){
    font-size: 32px;
    width: 80%;
    font-weight: 600;
    text-transform: uppercase;
}
.paraph-nosotros p:nth-child(3){
    width: 80%;
    font-size: 20px;
    font-weight: 300
}


/* Servicios */

.list-service{
    background-color: #F0F0F0;
    padding: 2rem 8rem;
}


.list-service p{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}

.list-service ul li{
    list-style: disc;
    margin-bottom: 15px;
    cursor: pointer;
}


/* Wsp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}

.whatsapp-container i{
    font-size: 3rem;
    margin-left: 1.5rem;
    background-color: white;
}

/* footer */

footer{
    padding: 0 2rem;
    background-color: black;
}

.footer-up{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.logo-footer img{
    width: 200px;
    height: 80px;
}

.logo-footer p{
    color: white;
    width: 40%;
    text-align: left;
    font-size: 14px;
}

.list-menu-footer p{
    font-weight: 700;
    font-size: 18px;
}

.list-menu-footer li, .list-menu-footer p{
    color: white;
    padding-bottom: 10px;
}

.list-menu-footer li:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.footer-down{
    padding: 2rem 3rem;
    border-top: 2px solid white;
}

.footer-down p{
    color: white;
}

.list-footer{
    width: 30%;
    gap: 2rem;
}
.logo-footer ul{
    display: flex;
    margin: 1rem 0;
}
.logo-footer ul li{
    margin-right: 8px;
    transition: 0.8s;
}
.logo-footer ul li i:hover{
    background-color: #343434;
    border: 1px solid #343434;
}
.logo-footer ul li i{
    border-radius: 100%;
    border: 1px solid white;
    padding: 6px;
    font-size: 20px;
    transition: 0.8s;
}


@media(max-width:991px){

    /* header */

    .banner-top, .boton button{
        display: none;
    }
    header{
        padding: 1rem 2rem;
        padding: 0 1rem !important;
    }
    .logo-img img{
        padding: 0;
    }
    header label{
        display: block;
    }
    .lista-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .lista-header ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    /* banner */

    .banner{
        padding: 8rem 0 0 0;
        align-items: center;
    }

    .title-banner p{
        text-align: center;
    }
    .banner-img{
        height: 40vh;
    }
    .title-banner p{
        font-size: 30px;
    }

    .galleria-portafolio figure, .galleria-portafolio .width-bewtw {
        width: 95%;
        height: 45vh;
    }

    .text-service{
        width: inherit !important;
    }

    /* footer */

    .footer-up{
        flex-direction: column;
        gap: 1rem;
    }
    .list-footer{
        display: none;
    }

    .footer-down {
        padding: 2rem 0;
    }

    .footer-down p{
        text-align: center;
    }
        
    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer p{
        display: none;
    }
    /* Nosotros */

    .inf-nosotros{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .paraph-nosotros, .img-video-nosotros{
        width: 90%;
    }
    .paraph-nosotros p{
        text-align: center;
        width: 100% !important;
    }
    .img-video-nosotros img{
        width: 200px;
        height: 352px;
    }
    .img-video-nosotros video{
        width: 200px;
        height: 310px;
    }
    .img-video-nosotros{
        justify-content: center;
    }

    /* servicios */

    .list-service {
        padding: 2rem 2rem;
    }
}

@media screen and (min-width: 991px) and (max-width: 1300px){

    /* header */

    .logo-img img {
        padding: 0;
    }

    /* banner */

    .banner {
        height: 20vh;
    }

    .banner-img {
        height: 30vh;
    }

    .inf-nosotros {
        gap: 2rem;
    }
    .paraph-nosotros p:nth-child(3), .paraph-nosotros p:nth-child(2){
        width: 100%;
    }
    .inf-nosotros{
        gap: 2rem;
    }
    .img-video-nosotros img{
        width: 250px;
        height: 410px;
    }
    .img-video-nosotros video{
        width: 250px;
        height: 440px;
    }


    /* servicios */

    .list-service{
        padding: 2rem 8rem 3rem 8rem;
    }

    /* footer */

    .list-footer {
        width: 70%;
        }

    .list-footer {
        width: 70%;
    }

    .logo-footer{
        text-align: center;
    }

    .logo-footer p {
        width: 100%;
        text-align: center;
    }
    .logo-footer ul{
        justify-content: center;
    }
}